.site-header {
    height: 54px;
    background-color: #0b2239;
    padding: 0 10px;
}

.navbar-brand {
    font-weight: 100;
    color: white !important;
}

.navbar-brand span {
    font-weight: 800;
    font-style: italic;
}